<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
body {
background-color: lightgrey;
color: blue;
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Flight Booking </title>
</head>
<body>
<h2>User Registration:</h2>

New User -> Register
<td><a th:href="RegistrationPage">Register?</a></td>
Existing User > Login-
<td><a th:href="loginPage">Login?</a></td>
</body>
</html>